{{- $src := .Destination -}}
{{- $alt := .PlainText -}}
{{- $w := 0 -}}
{{- $h := 0 -}}
{{- if or (hasPrefix $src "http://") (hasPrefix $src "https://") -}}
  {{- with resources.GetRemote $src -}}{{- $w = .Width -}}{{- $h = .Height -}}{{- end -}}
{{- else -}}
  {{- with imageConfig (printf "static%s" $src) -}}{{- $w = .Width -}}{{- $h = .Height -}}{{- end -}}
{{- end -}}
<img src="{{ $src | safeURL }}" alt="{{ $alt }}"{{ with .Title }} title="{{ . }}"{{ end }}{{ if and (gt $w 0) (gt $h 0) }} width="{{ $w }}" height="{{ $h }}"{{ end }} loading="lazy">
