<head>
    <meta name="viewport" content="width=device-width", initial-scale="1">
    <meta name="description" content="{{ if .IsHome }}{{ .Site.Params.tagline }}{{ else }}{{ .Summary }}{{ end }}">
    <meta name="apple-mobile-web-app-status-bar-style" content="red">
    <meta name="color-scheme" content="light dark">
    <meta name="theme-color" content="#FDF6E3" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="#2D353B" media="(prefers-color-scheme: dark)">
    <!-- meta -->
    <meta itemprop="name" content="{{ .Site.Title }}{{ if .Site.Params.tagline }} — {{ .Site.Params.tagline }}{{ end }}" />
    <meta itemprop="description" content="{{ .Site.Params.metaDescription }}" />
    <meta itemprop="image" content="{{ if not .IsHome }}{{ if .Params.images }}{{ index .Params.images 0 }}{{ else }}https://micro.blog/{{ .Site.Author.username }}/podcast.png{{ end }}{{ else }}https://micro.blog/{{ .Site.Author.username }}/podcast.png{{ end }}" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ .Site.Title }}{{ if .Site.Params.tagline }} — {{ .Site.Params.tagline }}{{ end }}" />
    <meta property="og:description" content="{{ .Site.Params.metaDescription }}" />
    <meta property="og:image" content="{{ if not .IsHome }}{{ if .Params.images }}{{ index .Params.images 0 }}{{ else }}https://micro.blog/{{ .Site.Author.username }}/podcast.png{{ end }}{{ else }}https://micro.blog/{{ .Site.Author.username }}/podcast.png{{ end }}" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ .Site.Title }}{{ if .Site.Params.tagline }} — {{ .Site.Params.tagline }}{{ end }}" />
    <meta name="twitter:description" content="{{ .Site.Params.metaDescription }}" />
    <meta name="twitter:image" content="{{ if not .IsHome }}{{ if .Params.images }}{{ index .Params.images 0 }}{{ else }}https://micro.blog/{{ .Site.Author.username }}/podcast.png{{ end }}{{ else }}https://micro.blog/{{ .Site.Author.username }}/podcast.png{{ end }}" />
    <title>
        {{ block "title" . }}
        {{ if .IsHome }}{{ .Site.Title }}{{ else if .Title }}{{ .Site.Title }} - {{ .Title }}{{ else }}{{ .Site.Title }} - {{ .Summary | truncate 50 }}{{ end }}
        {{ end }}
    </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400..900;1,400..900&family=IBM+Plex+Mono:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="https://micro.blog/{{ .Site.Author.username }}/favicon.png" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="180x180" href="https://micro.blog/{{ .Site.Author.username }}/podcast.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ .Site.Author.avatar }}">
    <link rel="icon" type="image/png" sizes="16x16" href="https://micro.blog/{{ .Site.Author.username }}/favicon.png">
    {{ with .OutputFormats.Get "RSS" -}}
      <link href="{{ .RelPermalink }}" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}" />
      <link href="{{ "podcast.xml" | absURL }}" rel="alternate" type="application/rss+xml" title="Podcast" />
      <link rel="alternate" type="application/json" title="{{ $.Site.Title }}" href="{{ "feed.json" | absURL }}" />
      <link rel="EditURI" type="application/rsd+xml" href="{{ "rsd.xml" | absURL }}" />
    {{ end -}}
    <link rel="me" href="https://micro.blog/{{ .Site.Author.username }}" />
  {{ with .Site.Params.twitter_username }}
    <link rel="me" href="https://twitter.com/{{ . }}" />
  {{ end }}
  {{ with .Site.Params.github_username }}
    {{ $href := . }}
    {{ if not (or (hasPrefix . "http://") (hasPrefix . "https://")) }}{{ $href = printf "https://github.com/%s" . }}{{ end }}
    <link rel="me" href="{{ $href }}" />
  {{ end }}
  {{ with .Site.Params.instagram_username }}
    <link rel="me" href="https://instagram.com/{{ . }}" />
  {{ end }}
  <link rel="authorization_endpoint" href="https://micro.blog/indieauth/auth" />
  <link rel="token_endpoint" href="https://micro.blog/indieauth/token" />
  <link rel="micropub" href="https://micro.blog/micropub" />
  <link rel="microsub" href="https://micro.blog/microsub" />
  <link rel="webmention" href="https://micro.blog/webmention" />
  <link rel="subscribe" href="https://micro.blog/users/follow" />
  <link rel="preload" as="style" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
  {{ with resources.Get "css/bootstrap-light.css" | fingerprint }}<link id="light" rel="stylesheet" href="{{ .RelPermalink }}" media="(prefers-color-scheme: light)">{{ end }}
  {{ with resources.Get "css/bootstrap-dark.css" | fingerprint }}<link id="dark" rel="stylesheet" href="{{ .RelPermalink }}" media="(prefers-color-scheme: dark)">{{ end }}
  {{ with resources.Get "css/style.css" | fingerprint }}<link rel="stylesheet" href="{{ .RelPermalink }}">{{ end }}
  {{ with resources.Get "css/hamburgers.css" | fingerprint }}<link rel="stylesheet" href="{{ .RelPermalink }}">{{ end }}
  {{ with resources.Get "css/loader.css" | fingerprint }}<link rel="stylesheet" href="{{ .RelPermalink }}">{{ end }}
  {{ with resources.Get "css/photoswipe.css" | fingerprint }}<link rel="stylesheet" href="{{ .RelPermalink }}">{{ end }}
  
  {{ range .Site.Params.plugins_css }}
    <link rel="stylesheet" href="{{ . }}" />
  {{ end }}
  {{ range $filename := .Site.Params.plugins_html }}
    {{ partial $filename $ }}
  {{ end }}
  {{ partial "microblog_head.html" . }}
</head>
