<div class="d-flex p-2">
    <img src="{{ .Site.Author.avatar }}" alt="{{ .Site.Author.name }}" width="128" height="128" class="rounded-circle avatar">
</div>

<div class="d-flex p-2">
    <a class="no-under" href="/">
        <h1 class="card-title mb-0">{{ .Site.Title }}</h1>
    </a>
</div>

{{- if .Site.Params.showTagline -}}
<div class="p-2">
    <h2 class="mb-0">{{ .Site.Params.tagline }}</h2>
</div>
{{- end -}}

<div class="p-2 d-flex justify-content-start flex-wrap social-icons">
    {{ partial "social-icons.html" . }}
</div>

<nav class="pt-2">
    {{ $url := .RelPermalink }}
    <ul class="list-unstyled mb-0">
        <li class="px-2 mb-3">
            <a class="{{ if .IsHome }}home-active{{ end }}" href="/">Home</a>
        </li>
        {{ range .Site.Menus.main }}
        {{ $href := string (.URL | relLangURL) }}
        {{ if .Page }}{{ if .Page.Params.redirect }}{{ $href = string .Page.Params.redirect }}{{ end }}{{ end }}
        {{ $external := or (hasPrefix $href "http://") (hasPrefix $href "https://") }}
        <li class="px-2 mb-3">
            <a class="{{ if eq .URL $url }}home-active{{ end }}" href="{{ $href | safeURL }}"{{ if $external }} target="_blank" rel="noopener"{{ end }}>{{ .Name }}{{ if $external }} <i class="bi bi-box-arrow-up-right ml-1" aria-label="external link"></i>{{ end }}</a>
        </li>
        {{ end }}
    </ul>
</nav>
    