{{- $content := . -}}
{{- range findRE `<img[^>]+>` $content -}}
  {{- $tag := . -}}
  {{- $w := 0 -}}
  {{- $h := 0 -}}
  {{- if findRE `width="\d+"` $tag -}}
    {{- $w = int (replaceRE `^.*?width="(\d+)".*$` "$1" $tag) -}}
  {{- end -}}
  {{- if findRE `height="\d+"` $tag -}}
    {{- $h = int (replaceRE `^.*?height="(\d+)".*$` "$1" $tag) -}}
  {{- end -}}
  {{- if and (gt $w 0) (gt $h $w) -}}
    {{- $wrapped := printf `<span class="post-image post-image--portrait d-inline-flex">%s</span>` $tag -}}
    {{- $content = replace $content $tag $wrapped -}}
  {{- end -}}
{{- end -}}
{{- $content | safeHTML -}}
